
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finance Resume Template</title>
    <link rel="stylesheet" href="/static/resume.css">

    <div class="resume">
        <h1 class="name">Your Name</h1>
        <p class="contact-info">Email: your.email@example.com | Phone: (123) 456-7890</p>

        <h2 class="section-title">Education</h2>
        <h3 class="school-name">ABC University</h3>
        <p class="degree-details">[Boston, MA]
        <p class="degree-details">[Bachelor of Science in Finance, May 2020]</p>

        <h2 class="section-title">Awards And Certifications</h2>
        <ul>
            <li class="text-container"><span class="left-aligned">[Series 79, Investment Banking Representative Exam] </span> <span class="right-aligned"> [December 2020] </span></li>
          <li class="text-container"><span class="left-aligned">[Series 66, Uniform Combined State Law Exam] </span> <span class="right-aligned"> [December 2020] </span></li>
          <li class="text-container"><span class="left-aligned">[...] </span> <span class="right-aligned"> [...] </span></li
        </ul>
    </ul>

        <h2 class="section-title">Experience</h2>
        <h3 class="job-title">Financial Analyst</h3>
        <p class="job-details">ABC Finance Corporation, New York, NY | June 2020 - Present</p>
        <ul>
            <li>Performed in-depth financial analysis and modeling to support strategic decision-making</li>
            <li>Collaborated with teams to develop annual budgets and quarterly forecasts</li>
            <li>Identified risks and opportunities by analyzing financial data and market trends</li>
        </ul>
          
         <h3 class="job-title">Research Analyst</h3>
        <p class="job-details">ABC Finance Corporation, Boston, MA | June 2017 - June 2020</p>
        <ul>
            <li>Performed in-depth market research to support strategic decision-making</li>
            <li>Collaborated with teams to develop annual targets and ratings</li>
            <li>Identified risks and opportunities by analyzing financial data and market trends</li>
        </ul>         
         <h3 class="job-title">Risk Analyst</h3>
        <p class="job-details">ABC Finance Corporation, Boston, MA | June 2015 - June 2017</p>
        <ul>
            <li>Performed in-depth simulations to support trading strategies</li>
            <li>Collaborated with teams to implement trading guidances </li>
            <li>Identified risks and opportunities by analyzing world wide market data</li>  
        </ul>

        <h2 class="section-title">Volunteer</h2>
        <h3 class="job-title">Mentor</h3>
        <p class="job-details">ABC University, New York, NY | June 2018 - June 2019</p>
        <ul>
            <li>Performed mentoring duties</li>
            <li>Collaborated with students to help them feel ready for the workforce</li>
            <li>Identified ways to help improve student coaching</li>
        </ul>

           <h3 class="job-title">Soccer Coach</h3>
        <p class="job-details">ABC Elementary, New York, NY | June 2018 - June 2019</p>
        <ul>
            <li>Coached a team of 28 boys and girls U10 to the state championship</li>
            <li>Collaborated with coaching staff to create a great team</li>
            <li>Identified ways to help improve the team</li>
        </ul>
               <h2 class="section-title">Athletic Accomplishments</h2>
        <h3 class="school-name">XYZ University Varsity Football</h3>
        <p class="degree-details">[Dedicated 25+ hours per week to training and playing with a team of 80 people]</p>
              <h2 class="section-title">Language and Computer Skills</h2>
        <p class="degree-details">[English],[French],[Python], [Excel], [Microsoft Word] ...</p>
    </div>

